@model QLNS.Models.RequestApprovals

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RequestApprovals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeTimeOff" class="control-label"></label>
                <input asp-for="TypeTimeOff" class="form-control" />
                <span asp-validation-for="TypeTimeOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromTime" class="control-label"></label>
                <input asp-for="FromTime" class="form-control" />
                <span asp-validation-for="FromTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToTime" class="control-label"></label>
                <input asp-for="ToTime" class="form-control" />
                <span asp-validation-for="ToTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RejectedReason" class="control-label"></label>
                <input asp-for="RejectedReason" class="form-control" />
                <span asp-validation-for="RejectedReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApproverId" class="control-label"></label>
                <input asp-for="ApproverId" class="form-control" />
                <span asp-validation-for="ApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserApprovalId" class="control-label"></label>
                <input asp-for="UserApprovalId" class="form-control" />
                <span asp-validation-for="UserApprovalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
