<!-- 
<nz-page-header style="background-color:rgb(251, 251, 251)">
    <nz-page-header-title style="font-weight: bold">
        Danh sách đơn nghỉ phép
    </nz-page-header-title>
    <nz-page-header-extra>
        <button nz-button nz-type="primary">
            Tạo mới
        </button>
        
    </nz-page-header-extra>
</nz-page-header>

<nz-table #sortTable nzTableLayout="fixed">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Loại bài</th>
            <th>Ngày tạo</th>
            <th>Người tạo</th>
            <th>Ngày sửa</th>
            <th>Trạng thái</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.chinese }}</td>
        <td>{{ data.math }}</td>
        <td>{{ data.english }}</td>
      </tr>
    </tbody>
  </nz-table> -->
